/* nothing on this style sheet is working rt now. Investigate asynch or fetch. */
select {
  display: block;
  margin-bottom: 20px;
  width: 200 px;
}

body {
  background-color: darkgray;
  padding: 10px;
}

h1 {
  font-family: Arial;
  font-weight: bold;
}


/* the submit button does not grey out/show as unavailable if I employ the below styling
input[type="submit"] {
  background-color: pink;
  color: black;
  font-weight: bold;
  padding: 5px;
  margin-left: 2px;
  border-color: black;
  border-width: 3px;
}
*/